{% extends 'panel/panel.html' %}
{%block main %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        
        
        <h1 class="h2">آخرین موارد اضافه شده </h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">تست 1</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">تست 2</button>
          </div>
          <button type="date" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            
            <span data-feather="calendar"></span>
             تست 3
          </button>
          
        </div>
      </div>
      <div class="row ">
      {% if success_msg %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        فایل به موفقیت ذخیره شد
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
        <div class="col-md-8 col-lg-9">
            <h4 class="mb-3">اضافه کردن زمین</h4>
            <form action="/panel/addz" method="post" class="needs-validation" novalidate="">
              {% csrf_token %}
              <div class="row g-3">
                <div class="col-sm-6">
                  <label for="number" class="form-label">شماره قطعه</label>
                  <input type="text" class="form-control" id="number" name="number" placeholder="" value="" required="">
                  <div class="invalid-feedback">
                  
                  </div>
                </div>
    
                <div class="col-sm-6">
                  <label for="metr" class="form-label">متراژ زمین</label>
                  <input type="text" class="form-control" name="metr" id="metr" placeholder="" value="" required="">
                </div>

                <div class="col-sm-6">
                    <label for="area" class="form-label">دهنه</label>
                    <input type="text" class="form-control" name="area" id="area" placeholder="" value="" required="">

                  </div>
    
                  <div class="col-sm-6">
                    <label for="region" class="form-label">منطقه</label>
                    <select class="form-select" id="region" name="region" required="">
                        
                        {% for key , value in regs %}
                            <option value="{{key}}">{{value}}</option> 
                        {% endfor %}
                    </select>
                  </div>

                  <div class="col-sm-6">
                    <label for="sk" class="form-label">خیابان-کوچه</label>
                    <select class="form-select" id="sk" name="sk" required="">
                        
                        {% for key , value in sk %}
                            <option value="{{value}}">{{value}}</option> 
                        {% endfor %}
                    </select>
                    
                  </div>

                  <div class="col-sm-6">
                    <label for="sg" class="form-label">سند- قرار داد</label>
                    <select class="form-select" id="sg" name="sg" required="">
                        
                        {% for key , value in sg %}
                            <option value="{{key}}">{{value}}</option> 
                        {% endfor %}
                    </select>
                  </div>

                  <div class="col-sm-6">
                    <label for="faz" class="form-label">فاز</label>
                    <select class="form-select" id="faz" name="faz" required="">
                        
                        {% for count in range %}
                            <option value="{{count}}">{{count}}</option> 
                        {% endfor %}
                    </select>
                    <div class="invalid-feedback">
                      يرجى اختيار بلد صحيح.
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <label for="napsh" class="form-label">نبش</label>
                    <select class="form-select" id="napsh" name="napsh" required="">
                        
                        {% for count in Nrange %}
                            <option value="{{count}}">{{count}}</option> 
                        {% endfor %}
                    </select>
                  </div>

                  

                  <div class="col-sm-6">
                    <label for="tawn" class="form-label">شهر</label>
                    <input type="text" class="form-control" name="tawn" id="tawn" placeholder="" value="" required="">
                  
                  </div>

                  <div class="col-sm-6">
                    <label for="lastName" class="form-label">قیمت</label>
                    <input type="text" class="form-control" name="price" id="price" placeholder="" value="" required="">
                    <div class="invalid-feedback">
                      يرجى إدخال اسم عائلة صحيح.
                    </div>
                  </div>

                  <div class="input-group">
                    <span class="input-group-text">توضیحات </span>
                    <textarea name="des" class="form-control " aria-label="With textarea"></textarea>
                  </div>
                  <div class="col-12">
                    <label for="client" class="form-label">مالک</label>
                    <select class="form-select" id="client" name="client" required="">
                        
                        {% for client in clients %}
                            <option value="{{client.id}}">{{client}}</option> 
                        {% endfor %}
                        
                    </select>
                  
                    <div class="invalid-feedback">
                      يرجى اختيار بلد صحيح.
                    </div>
                   
                  </div>
                  
                 
    
           
           
              
    
              <button class="w-100 btn btn-primary btn-lg" type="submit">ثبت اطلاعات</button>
              <hr class="my-4">
            </form>
          </div>

      </div>
      

    

    
    </main>
{% endblock %}
